.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
}

.appTitle {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    color: #fcfcfc;
    text-shadow: 2px 2px 2px #000;
}

.passwordInput {
    width: 300px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #7d7b7b;
    transition: 0.3s;
    border-radius: 5px;
}

.checkPasswordButton {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #3564ff;
    transition: 0.3s;
    color: #fff;
}

.checkPasswordButton:hover {
    background-color: #fff;
    color: #3564ff;
    cursor: pointer;
    transform: scale(1.1);
}

.response {
    margin: 10px;
    font-size: 20px;
    color: #fcfcfc;
}